.title_home .title {
  text-align: center;
  padding-top: 23px;
  padding-bottom: 35px;
  color: #d90022;
  font-size: 100px; }

.title_home a {
  text-align: center;
  color: #d90022; }

.title_home a:link {
  text-decoration: none;
  color: #d90022; }

.title_home a:hover {
  text-decoration: none;
  color: #d90022; }

.title_home a:active {
  text-decoration: none;
  color: #d90022; }

.login_button {
  width: 50%;
  padding: 40px; }
  .login_button a {
    float: right; }

.register_button {
  width: 50%;
  padding: 40px; }
  .register_button a {
    float: left; }
