.title_home{
    text-align: center;
    padding-top: 23px;
    padding-bottom: 35px;
    color: #d90022;
    font-size: 100px;
}

a:link{
    color: white !important;
}

.login_button{
    width: 50%;
    padding: 40px;
    a{
        float: right;
    }
 }

.register_button{
    width: 50%;
    padding: 40px;
    a{
        float: left;
    }

}

